@import "tailwindcss";

/* Variables */
@theme {
    --color-lisa-primary: #54B192;
    --color-lisa-secondary: #3F3D56;

    --maxWidth: 1280px;
    --hideItem: 1600px;
    --height-sectionHeight: 100vh;
    --sectionSpacing: 50px;
}


/* Global Styles */
.lisaTextColor {
    @apply text-lisa-secondary
}

.lisaHeading {
    @apply capitalize font-bold mb-3;
}

a {
    @apply block
}

.lisaContainer {
    @apply xl:w-(--maxWidth) left-0 right-0 mx-auto px-10 md:px-20 lg:px-30
}

.lisaSection {
    @apply flex items-center min-h-sectionHeight py-16 relative
}